
body {
  background-color: #222 ;
  color: white;
  min-height: 100vh ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


} 

.container {
  background-color: red;
  padding: 3rem;
  border-radius:1rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap:2rem ;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
}

label {
  font-weight: bold;
}

.number-input {
  width: 2rem;
  
}
.password1 {
  background-color: antiquewhite;
  color: #222;
  padding: .5rem;
  border: 1px solid black;
  height: 2rem; 
  width: 350px;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border-radius: .5rem;
}

.Btn {
  grid-column: span 2;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid white;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem ;

}

.Btn:hover{
  background-color: #ffffff ;
  color: black;
}